
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">

      <a class="navbar-brand" href="#">Ruby Calculation</a>
    </div>

  </div>
</nav>

<div class="container">

<div style=" height:50px;"></div>

<h1>Calculation</h1>
  <button class="newGame">New Game</button>
  <button class="undo">Undo</button>
  <button class="debugButton">Debug</button>
  <button class="hintButton">Toggle Hints</button>




<h2 id="dropID"></h2>
  <div class="row">
    <div class="col-lg-2">
      <h3>Deck</h3>
    <div id="deck" >
      <div id="DECK" class="ui-widget-content stack">
        <% if $cards.last %>
            <%= image_tag($cards.last.id+'.png', alt: $cards.last.id, :class => 'card' ) %>
        <% end %>
      </div>
    </div>
</div>
    <div class="col-lg-10">
      <h3>Foundations</h3>
    <div class="box">
    <div id="point1" class="ui-widget-header foundation stack">
      <%= image_tag($found1.last.id+'.png', alt: $found1.last.id,  ) %>
    </div>
      <p class="hint">Next Card Value: <%= cardToNum($found1.last.id, 1) %></p>
    </div>
      <div class="box">
    <div id="point2" class="ui-widget-header foundation stack">
      <%= image_tag($found2.last.id+'.png', alt: $found2.last.id,  ) %>
    </div>
      <p class="hint">Next Card Value: <%= cardToNum($found2.last.id, 2) %></p>
        </div>
      <div class="box">
    <div id="point3" class="ui-widget-header foundation stack">
      <%= image_tag($found3.last.id+'.png', alt: $found3.last.id,  ) %>
    </div>
      <p class="hint">Next Card Value: <%= cardToNum($found3.last.id, 3) %></p>
        </div>
      <div class="box">
    <div id="point4" class="ui-widget-header foundation stack">
      <%= image_tag($found4.last.id+'.png', alt: $found4.last.id,  ) %>
    </div>
      <p class="hint">Next Card Value: <%= cardToNum($found4.last.id, 4) %></p>
        </div>
    </div>
</div>

  <div class="row">
    <div class="col-lg-offset-2 col-lg-8">
      <h3>Waste Piles</h3>
      <div id="waste1" class="ui-widget-header waste stack">
        <ul>
          <% if $waste1.last %>

              <% $waste1.each do |card|%>

                <li>  <%= image_tag(card.id+'.png', alt: card.id,  ) %> </li>

              <% end %>
        <% end %>
        </ul>

      </div>
      <div id="waste2" class="ui-widget-header waste stack">
        <ul>
          <% if $waste2.last %>
              <% $waste2.each do |card|%>

                  <li>  <%= image_tag(card.id+'.png', alt: card.id,  ) %> </li>

              <% end %>

          <% end %>
        </ul>

      </div>
      <div id="waste3" class="ui-widget-header waste stack">
        <ul>
          <% if $waste3.last %>
              <% $waste3.each do |card|%>

                  <li>  <%= image_tag(card.id+'.png', alt: card.id,  ) %> </li>

              <% end %>


          <% end %>
        </ul>

      </div>
      <div id="waste4" class="ui-widget-header waste stack">
        <ul>
          <% if $waste4.last %>
              <% $waste4.each do |card|%>

                  <li>  <%= image_tag(card.id+'.png', alt: card.id,  ) %> </li>

              <% end %>

          <% end %>
        </ul>
      </div>
    </div>
  </div>



<div class="debug">
	<h4>Test Deck</h4>
	<table>
  	<tr>
    	<% $cards.each do |card| %>
          <td><%=card.id %></td>
    	<% end %>
  	</tr>
  	<tr>
    	Cards Left on Deck: <stron><%= $cards.count %></stron>
  	</tr>
  	<tr>

  	</tr>
	</table>
</div>

    </div>