<h1>Calculation</h1>

<h4>Test Deck</h4>
<% $cards.each do |card| %>
    <tr>
      <td><%=card.id %></td>
    </tr>
<% end %>

<h4>Top Card</h4>
<td><%= image_tag($cards.last.id+'.png', alt: '{card.id}') %></td>

<h5>Foundation 1: <%= link_to 'Move', action: 'moveToF1' %></h5>
<% $found1.each do |card| %>
        <tr>
          <td><%= image_tag(card.id+'.png', alt: '{card.id}') %></td>
        </tr>
<% end %>


<h5>Foundation 2: <%= link_to 'Move', action: 'moveToF2' %></h5>
<% $found2.each do |card| %>
        <tr>
          <td><%= image_tag(card.id+'.png', alt: '{card.id}') %></td>
        </tr>
<% end %>

<h5>Foundation 3: <%= link_to 'Move', action: 'moveToF3' %></h5>
<% $found3.each do |card| %>
        <tr>
          <td><%= image_tag(card.id+'.png', alt: '{card.id}') %></td>
        </tr>
<% end %>

<h5>Foundation 4: <%= link_to 'Move', action: 'moveToF4' %></h5>
<% $found4.each do |card| %>
        <tr>
          <td><%= image_tag(card.id+'.png', alt: '{card.id}') %></td>
        </tr>
<% end %>